.body{
    
    background-image: linear-gradient(to right, blue, rgba(255,0,0,1));

  height: 100vh;
    padding: 20px;
 justify-content: center;
 display: flex;
 
    
      }
      
      

      .form{
        width: 854px;
        height: 505px;
        background: linear-gradient(to right,red, blue);
        
        justify-content: center;
        
        display: flex;
        text-align: center;
        box-shadow:  0 6px 20px 0 rgb(255, 4, 201);
      }
    
      .music{
        width: 300px  ;
        height: 505px;
        background: linear-gradient(to right,black, black);
        box-shadow:  0 6px 20px 0 rgb(49, 203, 97);
        justify-content: center;
      
        
        
        
      }
   
     
      @media screen and (max-width: 480px) {
        .form{
          padding: 60px;
          width: 160px;
          position: absolute;
     
        
    justify-content: center;
      
        }
        .please{
          justify-content: center;
          text-align: center;
          width: 180px;
         
          
      }

      
      .music{ 
        width: 120px;
       
        }
        .body{
        
          
        
        }
        
    }
   


      .please{
        color: white;
       justify-content: center;
       justify-items: center;
       text-align: center;
       align-items: center;
      
       padding-top: 40px;
       /* justify-content: space-evenly; */

      }
      @media screen and (max-width: 880px) {
        .body{
          height: 945px;
          padding: 100px;
          
          /* margin-top: 120px; */
         
          
        }
        .form{
          margin-top: 10px;
        
          

        }
        .music{
          width: 200px;
        }
        
          
          
        
    
      }
      @media screen and (min-width: 910px) {
        .music{
          width:400px ;
          position: fixed;
        }
        .form{
          position: fixed;
         
        }
      }
        
      
      


















      .see{
        text-decoration: none;
        margin: 20px;
        display: flex;
        text-align: center;
        justify-content: center;
        border: 1px solid skyblue;
        padding: 10px;
        border-radius: 20px;
        color: gray;
      }
      .saw{
      text-decoration: none;
      margin: 20px;
      display: flex;
      text-align: center;
      justify-content: center;
      border: 1px solid skyblue;
      padding: 10px;
      border-radius: 20px;
      color: gray;
    }
    .none{
      
      color: gray;
      
     
    }
    .girl{
      color:white ;
      border: 1px solid lightgreen;
      padding: 10px;
      border-radius: 15px;
      padding-left: 30px;
      padding-right: 30px;
      
      
    }
    .material-icons{
      
      
order: i;
      
    }
      
        
        
     
  
